.kskb-icon {
  display: inline-block;
  width: 1.35em;
  height: 1.35em;
  background-size: contain;
  vertical-align: middle;
  color: transparent;
}

.kskb-vscode-extension {
  background: url('/assets/icons/vscode.svg') no-repeat center center;
}

.kskb-npm {
  background: url('/assets/icons/npm.svg') no-repeat center center;
}

.kskb-rollup-plugin {
  background: url('/assets/icons/rollup.svg') no-repeat center center;
}

.kskb-app {
  background: url('/assets/icons/app.svg') no-repeat center center;
}

.kskb-laptop {
  background: url('/assets/icons/laptop.svg') no-repeat center center;
}

.kskb-svelte {
  background: url('/assets/icons/svelte.svg') no-repeat center center;
}

.kskb-vue {
  background: url('/assets/icons/vue.svg') no-repeat center center;
}

.kskb-typescript {
  background: url('/assets/icons/typescript.svg') no-repeat center center;
}

.kskb-nodejs {
  background: url('/assets/icons/nodejs.svg') no-repeat center center;
}

.kskb-rust {
  background: url('/assets/icons/rust.svg') no-repeat center center;
}

.kskb-php {
  background: url('/assets/icons/php.svg') no-repeat center center;
}

.kskb-cpp {
  background: url('/assets/icons/cpp.svg') no-repeat center center;
}

.kskb-python {
  background: url('/assets/icons/python.svg') no-repeat center center;
}

.kskb-docker {
  background: url('/assets/icons/docker.svg') no-repeat center center;
}
